

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.p-3{
  padding-left: 3px;
  padding-right: 3px;
}

.site-layout{
padding: 0 50px;
margin-top: 90px;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.m-8{
  margin: 6px 2px;
}
.m-bottom{
  margin-bottom: 8px;
}